<% provide(:title, 'Home') %>
  <h1>Sample App</h1>
  <table>
    <thead>
      <tr>
        <th>Sign IN</th>
      
		<th>Sign UP</th>
		<th>Help</th>
		<th>About Us</th>
        
      </tr>
    </thead>


    <div class="actions">
  <button>    <%= link_to "Sign IN", signup_path, class: "btn btn-lg btn-primary" %></button>
  <button>   <%= link_to "Sign UP", signup_path, class: "btn btn-lg btn-primary" %></button>
  <%= link_to 'Help', "/help" %>
  <%= link_to 'About', "/about" %>


    </div>

  </table>
